
<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <h1 class="pt-5">Edit Pet</h1>
  </div>

  <div class="mt-5">
    <%= simple_form_for(@pet) do |f| %>
      <%= f.input :name, label: 'Nome' %>
      <%= f.input :category, label: 'Categoria', collection: ['Cachorro', 'Gato', 'Outro'] %>
      <%= f.input :birth, label: 'Aniversário' %>
      <%= f.input :photo, as: :file %>
      <div class="mb-5">
        <%= f.submit 'Update', class: 'btn btn-primary' %>
        <%= link_to "Volte para lista de pets", pet_path(@pet), class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>