<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <h1 class="mt-2 pt-5">Crie um novo pet:</h1>
  </div>
  <div>
    <%= simple_form_for(@pet) do |f| %>
      <%= f.input :name, label: 'Nome', class:"mt-2" %>
      <%= f.input :category, label: 'Categoria', collection: ['Cachorro', 'Gato', 'Outro'],class:"mt-2"  %>
      <%= f.input :birth, label: 'Aniversário', class:"mt-2"   %>
      <div class="mb-3">
        <%= f.submit 'Add', class: 'btn btn-primary' %>
        <%= link_to "Back to pets list", pets_path, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>

</div>